.card {
  border: 2px solid #f8f8f8;
  border-radius: 16px;
  color: white;
  padding: 16px;
  box-shadow: 5px 5px white;
  transition: all ease-in 0.15s;
  cursor: pointer;
  margin: 16px;
  width: 300px;
}

.card:hover {
  translate: -4px -4px;
  box-shadow: 9px 9px white;
}

.card h2 {
  font-size: 32px;
}

.card img {
  border-radius: 16px;
  margin: 8px;
}
